body {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(43, 42, 42);
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
}

.navbar {
  background-color: black;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

.navbar li {
  margin-right: 2rem;
}

.navbar a {
  padding: 1rem 1.5rem;
}

#container {
  margin: 8px;
}

.videos_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  /* minmax(300px, 1fr) = "Svaka kartica je minimalno 300px široka, ali može rasti do 1fr */
  gap: 1rem;
  padding: 1rem;
}

.video_card {
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  min-height: 300px;
  margin-bottom: 8px;
}

.video_card:hover {
  box-shadow: 0 0 0 0.75rem rgb(56, 19, 19);
  background-color: rgb(56, 19, 19);
}

.video_thumbnail {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.video_info {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
}

.channel_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0.5px solid;
  border-color: rgb(112, 112, 112);
  flex-shrink: 0;
}

.video_title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video_text h3 {
  margin: 0 0 0.25rem 0;
  /* Već imaš - zadnji broj je razmak ispod */
}

.channel_name {
  margin: 0 0 0.25rem 0;
  /* Dodaj razmak ispod imena kanala */
}

.video_views {
  margin: 0;
  /* Bez razmaka */
}